/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*============ shared styles starts */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.display_flex{
    display: flex;
}
.text_primary{
    color: #FF900E;
}
/* dark02 */
.text_grey{
    color: #424242;
}
/* dark03 */
.text_light_grey{
    color: #727272;
}
.bg_light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn_primary{
    color: wheat;
    background-color: #ff900e;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 120px;
} 
.section_title{
    font-size: 2.7rem;
    font-weight: 700;
}

/*=========== shared styles ends */

/* header part starts */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav_item{
    list-style: none;
    margin-right: 30px;
}
.nav_links a{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* header part ends */

/* banner part starts */
.banner_content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner_title{
    font-style: 4rem;
    font-weight: 700;
}
.banner_image{
    width: 100%;
}
/* banner part ends */
/* team & feature part starts */
.teams{
    align-items: center;
}
.team_image_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our_features{
    margin-left: 120px;
    max-width: 520px;
}

.quick_list{
    font-weight: 500;
}
.feature_description{
    margin: 20px 0  ;
}


/* team & feature part ends */





/* responsive part for small starts from here  */
@media screen and (max-width: 576px) {
    .navbar, .nav_links, .teams{
        flex-direction: column;
    }
    .team_image_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our_features{
        margin-left: 20px; 
    }
}
/* responsive part for medium starts from here  */
@media screen and (min-width: 576px) and (max-width: 991px) {
    .teams{
        flex-direction: column;
    }
    .our_features{
        margin: 50px auto; 
    }
}