/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*============ shared styles starts */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.display_flex{
    display: flex;
}
.text_primary{
    color: #FF900E;
}
/* dark02 */
.text_grey{
    color: #424242;
}
/* dark03 */
.text_light_grey{
    color: #727272;
}
.bg_light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn_primary{
    color: wheat;
    background-color: #ff900e;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 120px;
} 
.section_title{
    font-size: 2.7rem;
    font-weight: 700;
}

/*=========== shared styles ends */

/* header part starts */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav_item{
    list-style: none;
    margin-right: 30px;
}
.nav_links a{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner part starts */
.banner_content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner_title{
    font-style: 4rem;
    font-weight: 700;
}
.banner_image{
    width: 100%;
}
/* team & feature part starts */
.teams{
    align-items: center;
}
.team_image_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our_features{
    margin-left: 120px;
    max-width: 520px;
}

.quick_list{
    font-weight: 500;
}
.feature_description{
    margin: 20px 0  ;
}

/* some facts part starts */
.facts_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.fact_card{
    width: 240px;
    height: 230px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact_number{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    /* margin-bottom: 5x; */
}
.fact_name{
    font-size: 1rem;
    font-weight: 600;
}
.fact_description{
    max-width: 530px;
    margin-top: 10px;
    margin-bottom: 30px;
}
/* our sponsor part starts */
.sponsors_info{
    text-align: center;
    max-width: 530px;
    margin: 50px auto;
}
.sponsor_companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor_companies img{
    filter: grayscale(100%);
}




/* responsive part for small starts from here  */
@media screen and (max-width: 576px) {
    .navbar, .nav_links, .teams{
        flex-direction: column;
    }
    .team_image_container, .sponsor_companies{
        grid-template-columns: 1fr;
    }
    .facts_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .facts_container{
        justify-items: center;
        gap: 20px;
    }
    .sponsor_companies{
        justify-items: center;
        gap: 50px;
    }
    .fact_card{
        width: 150px;
        height: 150px;
        margin-top: 10px;
    }
    .our_features{
        margin-left: 20px; 
    }
    
}
/* responsive part for medium starts from here  */
@media screen and (min-width: 576px) and (max-width: 991px) {
    .teams{
        flex-direction: column;
    }
    .our_features{
        margin: 50px auto; 
    }
    .sponsor_companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin-left: 100px;
    }
    .facts_container{
        text-align: center;
        margin-left: 100px;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin-top: 30px;
    }
    
    
    .some_facts h3 {
        text-align: center;
        margin-top: 20px; 
    }
    .fact_description{
        /* text-align: center; ;
        max-width: 450px; */
        margin: 0 auto;

    }
    
}